@page "/product/{id:int}"

@model ProductDetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<h1>@Model.Product.Title</h1>

<div style="display: flex; border: 1px solid #ddd; padding: 20px; width: 100%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); gap: 20px;">
    <div style="height: 400px; display: flex; align-items: center; justify-content: center;">
        <img src="@Model.Product.Image" alt="Product Image" style="max-width: 100%; max-height: 100%; min-width: 300px; border: none; margin: 0; padding: 40px;">
    </div>
    <div>
        <br />
        <p>@Model.Product.Description</p>
        <p><strong>Price: $@Model.Product.Price</strong></p>
        <p>Rating: @Model.Product.Rating.Rate ⭐ (@Model.Product.Rating.Count reviews)</p>
        <button id="add-to-cart-btn" class="btn-accept" onclick="addToCart(@Model.Product.Id, '@Model.Product.Title', @Model.Product.Price, '@Model.Product.Image')">Add to Cart</button>
    </div>
</div>

<script src="/js/product-details.js"></script>
<script src="/js/cart.js"></script>